// <h1> -> <h2>, <h2> -> <h3>, etc.

@import "./colors.scss";

.markdown {
  h2, h3 {
    padding-bottom: 4px;
    border-bottom: 1px solid #444;
  }

  p {
    line-height: 1.7em;
    font-size: 0.95rem;
  }

  blockquote {
    position: relative;
    margin: 0;
    padding: 0.5em 1.2em 0.5em 1em;
    border-radius: 4px;
    background-color: $color-dark-2;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 8px;
      background-color: $color-dark-1;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    p {
      margin: 0;
    }
  }

  code {
    font-size: 0.9rem;
    padding: 0.125rem 0.25rem;
    background-color: $color-dark-2;
    border-radius: 2px;
    font-family: "JetBrains Mono", Consolas, monospace;
  }

  pre {
    code {
      display: block;
      overflow-x: auto;
      padding: 1em;
      border-radius: 4px;
      line-height: 1.5em;
    }
  }

  .img-desc {
    color: #aaa;
    font-size: 0.9rem;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .markdown {
    code {
      font-size: 0.8rem;
    }
  }
}
